footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 2rem;
  background-color: var(--navy-color);
  border-top: 1px solid var(--green-color);
}

footer ul {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 1.5rem;
}

footer ul li {
  list-style: none;
  margin-left: 1rem;
  font-size: 0.85rem;
}


.footer-info {
  color: var(--grey-color100);
  line-height: 2rem;
  font-size: 0.9rem;
}

.footer-logo {
  color: var(--green-color);
  font-weight: 600;
  font-size: 1.3rem;
}

.footer-links {
  margin-top: 5px;
}
